<table width="100%">
  <thead>
    <tr>
      <th><a href="/bha4/class/1">Class 1</a></th>
      <th><a href="/bha4/class/2">Class 2</a></th>
      <th><a href="/bha4/class/3">Class 3</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Course introduction</td>
      <td>Microbiology</td>
      <td>Biomaterials</td>
    </tr>
    <tr>
      <td>History of BioHacking</td>
      <td>Bio art / design</td>
      <td>Creative Bio Equipment</td>
    </tr>
    <tr>
      <td>3D Design</td>
      <td>Documenting</td>
      <td>Digital Electronics</td>
    </tr>
    <tr>
      <td><img src="/bha4/class/sterilehood.png" alt="Sterile Hood" width="230" /></td>
      <td><img src="/bha4/class/stirrer.png" alt="Stirrer" width="230" /></td>
      <td><img src="/bha4/class/incubator.png" alt="Incubator" width="230" /></td>
    </tr>
    <tr>
      <td><a href="https://github.com/BioHackAcademy/BHA_SterileHood">Sterile Hood</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Stirrer">Stirrer</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Incubator">Incubator</a></td>
    </tr>
    <tr>
      <td>Sketchup &amp; FreeCAD</td>
      <td>Cultivating Microbes</td>
      <td>Isolation of Microbes</td>
    </tr>
    <tr>
      <td>Principles of electronics</td>
      <td> </td>
      <td>Coding Arduino</td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><a href="/bha4/class/4">Class 4</a></th>
      <th><a href="/bha4/class/5">Class 5</a></th>
      <th><a href="/bha4/class/6">Class 6</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Optics</td>
      <td>Genetics</td>
      <td>Midterm presentations</td>
    </tr>
    <tr>
      <td>Liquid culturing</td>
      <td>Biosensing</td>
      <td>Seperation techniques</td>
    </tr>
    <tr>
      <td><img src="/bha4/class/microscope.png" alt="Microscope" width="230" /></td>
      <td><img src="/bha4/class/thermocycler.png" alt="Thermocycler" width="230" /></td>
      <td><img src="/bha4/class/centrifuge.png" alt="Centrifuge" width="230" /></td>
    </tr>
    <tr>
      <td><a href="https://github.com/BioHackAcademy/BHA_Microscope">Microscope</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_Webcam_Microscope">Webcam Microscope</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Thermocycler">Thermocycler</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_GelBox">Gelbox</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Centrifuge">Centrifuge</a></td>
    </tr>
    <tr>
      <td>Microscopy</td>
      <td>DNA profiling</td>
      <td>Open Lab</td>
    </tr>
    <tr>
      <td>Biotic Gaming</td>
      <td>Cloning</td>
      <td> </td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><a href="/bha4/class/7">Class 7</a></th>
      <th><a href="/bha4/class/8">Class 8</a></th>
      <th><a href="/bha4/class/9">Class 9</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Guest Speaker</td>
      <td>Ethics</td>
      <td>Bioinformatics</td>
    </tr>
    <tr>
      <td> </td>
      <td>Spectrometry</td>
      <td>Spectrometry</td>
    </tr>
    <tr>
      <td><img src="/bha4/class/empty.png" alt="empty" width="230" /></td>
      <td><img src="/bha4/class/spectrometer.png" alt="Spectrometer" width="230" /></td>
      <td><img src="/bha4/class/syringepump.png" alt="Syringe Pump" width="230" /></td>
    </tr>
    <tr>
      <td> </td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Spectrophotometer">Spectrometer</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_Webcam_Spectrophotometer">Webcam Spectrometer</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_PeristalticPump">Peristaltic Pump</a>, <a href="https://github.com/BioHackAcademy/BHA_SyringePump">Syringe Pump</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_Photobioreactor">Photobioreactor</a></td>
    </tr>
    <tr>
      <td>P2P reviewing</td>
      <td>Iodine Clock Reaction</td>
      <td>PyMol</td>
    </tr>
    <tr>
      <td>Chloroplast isolation</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>
</table>

<h2 id="class-10">Class 10</h2>

<p>Graudation show on April 4th!</p>
