<h2>Welcome Biohackers!</h2>

<img src="images/BioHack Academy VI small.jpg" vspace=5 hspace=5 align=right />

<p>BioHack Academy 4 has once again rocked the BioHack planet! Spread across four different continents we built, used and shared new biohack labs and practice how to hack biotechnology.</p>

<p>Currently the course is over and we are preparing for the Fifth Edition! Send an email to <a href="mailto:biohack@waag.org">biohack@waag.org</a> in case you would like to stay up to date.</p>

<p>The course materials remain on this website as a backup. You can start by taking a look at the <a href="/bha4/classes/">Course Overview</a></p>
<p><a href="https://www.facebook.com/BioHack-Academy-587416504738662/?ref=bookmarks">Or join our BHA Facebook group</a></p>

<h2>Partnerlabs</h2>
<p>On April 4th the fourth BioHack Academy finished. The participating labs were</p>
<ul>
	 <li><a href="http://biohackwa.com">BioHack Western Australia - Perth</a></li>
    <li><a href="https://www.waag.org/nl/event/biohack-academy-4">Waag Society's Open Wetlab - Amsterdam</a></li>
    <li><a href="http://meskenai.lt">M-Lab - Lithuania</a></li>
    <li><a href="http://www.bioclub.org">BioClub Tokyo - Japan</a></li>
    <li><a href="https://www.mmca.go.kr/eng/">National Museum of Modern and Contemporary Art - South Korea</a></li>
    <li><a href="http://szoil.org/wp/">Shenzhen Open Innovation Lab - China</a></li>
    <li><a href="http://www.thesocialmediaworkgroup.com">The Social Media Workgroup, University of New Mexico - USA</a></li>
</ul>

<h2>Previous editions</h2>
<p>Have a look at the result of previous editions:</p>
<ul>
    <li><a href="{{ site.baseurl }}/biofactory/">BHA1</a></li>
    <li><a href="{{ site.baseurl }}/bha2/">BHA2</a></li>
    <li><a href="{{ site.baseurl }}/bha3/">BHA3</a></li>
    <li><a href="http://www.github.com/biohackacademy">Open Source DIYBio lab equipment repositories</a></li>
</uL>




<img src="{{ site.baseurl }}/bha3/img/yeastogram.png" width=740 />
